@import url('global.css');
@import url('header.css');
@import url('footer.css');

/* hero */
#hero {
  text-align: center;
  background-image: url('../images/hero.avif');
  background-position: center;
  background-size: cover;
  height: 600px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero h1 {
  margin: 0;
  font-size: 6rem;
}

#hero p {
  font-size: 2rem;
  margin: 0;
}

.btn_primary {
  background-color: #333A7B;
  color: #fff;
  padding: 15px 25px;
  font-size: 1.5rem;
  border-radius: 15px;
  margin-top: 20px;
}

.btn_primary:hover {
  background-color: #4d56ab;
}

.text_primary {
  background-color: #70C6C7;
  padding: 3px 10px;
}

.trait{
  background-color: #fff;
  padding: 1px ;
  width: 60%;
  margin-top: 35px;
}




.card_body_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn_twitch {
  border: 1px solid #2d336f96;
  padding: 10px 20px;
  border-radius: 30px;
  color: #333A7B; 
}

.btn_twitch:hover {
  background-color: #f5f6ff;
}


